Cython
scikit-learn
flask
tqdm
h5py==2.9.0
Keras==2.2.4
numpy==1.16.4
regex==2019.6.8
requests==2.22.0
jsonlines==1.2.0
tensorflow-gpu==2.5.1
pytest
gunicorn
git+https://github.com/djstrong/pytest-shell.git#egg=pytest-shell
git+https://github.com/djstrong/krnnt_text_utils.git@cython
pytest-benchmark
